/* #region Common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* #endregion Common */

/* #region Utility */

.container {
  width: 96%;
  max-width: 1320px;
  margin: auto;
}

/* #endregion Utility */

/* #region #app_header */

#app_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
}

#game_name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#game_name > .logo {
  height: 90px;
}

#game_name > span {
  font-size: 2.5rem;
  font-weight: 700;
}

/* #endregion #app_heade */
