/* #region Common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* #endregion Common */

/* #region Utility */

.container {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  max-width: 1320px;
  margin: auto;
  padding: 1rem 0;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

.selected {
  background-color: aqua;
}

/* #endregion Utility */

/* #region #app_header */

#app_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 150px;
}

#game_name,
#game_options {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#game_name > .logo {
  height: 80px;
}

#game_name > span {
  font-size: 2.5rem;
  font-weight: 700;
}

#game_name,
#game_options {
  flex-grow: 1;
}

#game_options label {
  font-size: 1.25rem;
}

#game_options .level_selector {
  margin: 0 0.75rem;
}

#level,
#game_options button {
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#game_options button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

/* #endregion #app_header */

/* #region #app_main */

#app_main {
  background-color: aquamarine;
}

/* #endregion #app_main */


/* #region Media Queries */

@media screen and (min-width: 634px) {

  #app_header {
    height: 80px;
  }

  #game_name,
  #game_options {
    flex-grow: 0;
  }
}

/* #endregion Media Queries */
